*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    text-align: center;
    background-image: url('../img/logoFMM2.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: greenyellow;
}

.jumbotron{
    height: 50%;
    background: -moz-linear-gradient(top, rgba(60, 0, 83, 0.6), rgba(60, 0, 83, 0));
    background: -webkit-linear-gradient(top, rgba(60, 0, 83, 0.6), rgba(60, 0, 83, 0));
    background: linear-gradient(top, rgba(60, 0, 83, 0.6), rgba(60, 0, 83, 0));
    font:   300px 'BadWeather', verdana, sans-serif;
   
    -moz-text-shadow: rgba(0,0,0,0.7) 20px 20px 5px;
    -webkit-text-shadow: rgba(0,0,0,0.7) 20px 20px 5px;
    text-shadow: rgba(0, 0, 0, 0.7) 20px 20px 5px;
}



/*CUSTOM FONTS*/

@font-face{
    font-family: 'BadWeather';
    src: url('../fonts/badweather.ttf');
}