*{
    margin: 0px;
    padding: 0px;
}

h1{font: 34px bold 'Times New Roman';}
h2{font: 28px italic 'Times New Roman';}

header, section, footer, hgroup{display: block;}

body{
    text-align: center;
    background-color: rgb(71, 197, 255);
}

#cabecera{
    padding: 15%;
}

#field{
    width: 100%;
    display: block;
    border: 0px;
    
}#field legend{
    margin: 2%;
    font: 30px bold 'Cambria';
}

#pie{
    padding: 100px;

}